header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    > .container{
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        .logo{
            font-size: 2rem;
            color: $primary;
            font-weight: 900;
        }
        nav ul li{
            display: inline-block;
            padding-right: 20px;
            &:last-of-type{
                padding-right: 0;
            }
            a{
                text-decoration: underline;
            }
        }
    }
}
